
    <div class="bank-box col-sm-12 col-md-4">
      <span class="thumbnail text-center">
        <img src="<?php echo $data->icon; ?>" alt="Icône <?php echo $data->name; ?>" />
      </span>
      <h1 class="text-danger">
        <span class="thumbnail text-center"><?php echo $data->name; ?></span>
      </h1>
      <div class="ratings"></div>
      <p class="bold">
        <span class="thumbnail text-center">Offre de bienvenue</span>
      </p>
      <p class="bold">
        <span class="thumbnail text-center">Conditions d&#39;accès</span>
      </p>
      <p class="bold">
        <span class="thumbnail text-center">Epargne</span>
      </p>
      <p class="bold">
        <span class="thumbnail text-center">Crédits</span>
      </p>
      <p class="bold">
        <span class="thumbnail text-center">Service client</span>
      </p>
      <p class="bold">
        <span class="thumbnail text-center">Application</span>
      </p>
      <span class="thumbnail text-center">
        <a class="btn btn-danger" href=""> Revue</a>
        <a class="btn btn-success" href="#"> Visiter</a>
      </span>
    </div>
