
    <div class="bank-box col-sm-12 col-md-4">
      <span class="thumbnail text-center">
        <img src="<?php echo $data->icon; ?>" alt="Icône <?php echo $data->name; ?>" />
      <h1 class="text-danger">
        <?php echo $data->name; ?>
      </h1>
      <div class="ratings"></div>
      <p class="bold">
        Offre de bienvenue
      </p>
      <p class="bold">
        Conditions d&#39;accès
      </p>
      <p class="bold">
        Epargne
      </p>
      <p class="bold">
        Crédits
      </p>
      <p class="bold">
        Service client
      </p>
      <p class="bold">
        Application
      </p>
      <span class="thumbnail text-center">
        <a class="btn btn-danger" href=""> Revue</a>
        <a class="btn btn-success" href="#"> Visiter</a>
      </span>
      </span>
    </div>
