<div class="row procons">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading" style="font-size: 16px; line-height: 1em;">
        <i class="fa fa-check-square" aria-hidden="true"></i> Points positifs</div>
      <div class="panel-body">
        <ul class="list-group">
          <?php foreach ($data->pros as $pro) : ?>
            <?php
              if($pro != '')
                echo '<li class="list-group-item list-group-item-success">'.$pro.'</li>';
            ?>
          <?php endforeach; ?>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading" style="font-size: 16px; line-height: 1em;">
        <i class="fa fa-minus-square-o" aria-hidden="true"></i> Points négatifs</div>
      <div class="panel-body">
        <ul class="list-group">
          <?php foreach ($data->cons as $con) : ?>
            <?php
              if($con != '')
                echo '<li class="list-group-item list-group-item-danger">'.$con.'</li>'; 
            ?>
          <?php endforeach; ?>
        </ul>
      </div>
    </div>
  </div>
</div>
