<script type="text/javascript">
    jQuery(function() {

        var r = Vue.component('star-rating', {
            template: '#star-rating',
            props: ['percentage'],
            data: function() {
                return {
                    value: this.percentage
                }
            },
            mounted: function() {
                var that = this;
                jQuery(that.$el).find('div.star-limiter').css('width', that.value + '%');
            }
        });
        Vue.component('banks-grid', {
            template: '#ranking-template',
            components: {
                'star-rating': r
            },
            props: {
                banks: Array,
                offer: Array
            },
            data: function() {
                var checkedNames = [];
                this.banks.forEach(function(bank) {
                    checkedNames.push(bank.name);
                });
                return {
                    checkedNames: checkedNames
                }
            },
            computed: {
                filteredBanks: function() {
                    var that = this;
                    return this.banks.filter(function(bank) {
                        return that.checkedNames.indexOf(bank.name) > -1;
                    })
                },
                headers: function() {
                    var b = this.filteredBanks;
                    var headers = [];
                    headers.push({
                        name: '<i class="fa fa-university fa-2x" aria-hidden="true"></i>'
                    });
                    b.forEach(function(bank) {
                        headers.push({
                            name: bank.name,
                            image: bank.icon
                        });
                    });
                    return headers;
                },
                values: function() {
                    var b = this.filteredBanks;
                    var values = [];
                    b.forEach(function(bank) {
                        values.push({
                            mean: bank.mean,
                            review: bank.review_link,
                            welcomeOffer: bank.welcome_offer,
                            minimumWadge: bank.minimum_wadge,
                            creditCard: bank.credit_card,
                            pros: bank.pros,
                            cons: bank.cons,
                            evalData: bank.eval_data,
                            opinionTitle: bank.opinion_title,
                            opinionText: bank.opinion_text,
                            offer: bank.offer,
                            holdingLabel: bank.holding_label,
                            holdingName: bank.holding_name,
                            holdingImage: bank.holding_image,
                            customerCountLabel: bank.customer_count_label,
                            customerCount: bank.customer_count,
                            mobileApps: bank.mobile_apps

                        });
                    });
                    return values;
                }
            }
        });

        var comparer = new Vue({
            el: '#app-compare',
            data: {
                ranking: ranking
            }
        });


    });
</script>
<script type="text/x-template" id="star-rating">
    <div class="star-container">
        <div class="star-box">
            <div class="star-limiter">
                <div class="longbar">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </div>
            </div>
        </div>
        <div class="star-bg">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
        </div>
    </div>
</script>
<script type="text/x-template" id="ranking-template">
    <div>
        <div class="row">
            <div class="col-md-12 col-s-12">
                <div class=" panel panel-tb">
                    <div class="panel-heading" style="font-size: 16px; line-height: 1em;"><i class="fa fa-diamond" aria-hidden="true"></i> Pourquoi voulez-vous changer de banque ?</div>
                    <div class="panel-body" style="font-size:1em;">
                        <div class="row">
                            <div class="col-md-6">
                                <label><input type="checkbox" value=""> </input>Obtenir une carte bancaire gratuite</label>
                                <label><input type="checkbox" value=""> </input>Profiter de frais bancaires réduits</label>
                                <label><input type="checkbox" value=""> </input>Trouver un crédit au meilleur prix</label>
                            </div>
                            <div class="col-md-6">
                                <label><input type="checkbox" value=""> </input>Gérer vos finances de manière autonome</label>
                                <label><input type="checkbox" value=""> </input>Envoyer ou recevoir de l’argent à l’étranger</label>
                                <label><input type="checkbox" value=""> </input>Ouvrir un compte bancaire secondaire</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-s-12">
                <div class=" panel panel-tb">
                    <div class="panel-heading" style="font-size: 16px; line-height: 1em;"><i class="fa fa-university" aria-hidden="true"></i> Quelles banques souhaitez-vous comparer ?</div>
                    <div class="panel-body" style="font-size:1em;">
                        <div class="row">
                            <div class="col-md-4" v-for="bank in banks">
                                <label class="checkbox-inline"><input type="checkbox" v-bind:value="bank.name" v-model="checkedNames"> </input>{{ bank.name }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-s-12">
                <div class=" panel panel-tb">
                    <div class="panel-heading" style="font-size: 16px; line-height: 1em;"><i class="fa fa-mobile" aria-hidden="true"></i> Applications mobiles</div>
                    <div class="panel-body" style="font-size:1em;">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <label class="checkbox"><input type="checkbox" value="android" ><i class="fa fa-android fa-2x" aria-hidden="true"></i></label>
                            </div>
                            <div class="col-md-4 text-center">
                                <label class="checkbox"><input type="checkbox" value="apple" ><i class="fa fa-apple fa-2x" aria-hidden="true"></i></label>
                            </div>
                            <div class="col-md-4 text-center">
                                <label class="checkbox"><input type="checkbox" value="windows" ><i class="fa fa-windows fa-2x" aria-hidden="true"></i></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-s-12">
                <div class=" panel panel-tb">
                    <div class="panel-heading" style="font-size: 16px; line-height: 1em;"><i class="fa fa-list-ul" aria-hidden="true"></i> Sélectionnez les produits et services qui vous intéressent</div>
                    <div class="panel-body" style="font-size:1em;">
                        <div class="row">
                            <div class="col-md-4" v-for="o in offer">
                                <label class="checkbox-inline"><input type="checkbox" v-bind:value="o" >{{ o }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="table-responsive" id="table-ranking">
                <table class="table table-bordered table-condensed table-hover" style="text-align: center;">
                    <thead>
                        <tr>
                            <th v-for="header in headers" style="vertical-align: top;text-align:center;margin-bottom:1em;">
                                <div v-html="header.name"></div>
                                <div style="width:100px;margin-left: auto;margin-right: auto;"><img v-bind:src="header.image" /></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th style="text-align:center;">
                                <div>Note générale</div>
                                <div><i class="fa fa-trophy fa-3x" style="color:gold" aria-hidden="true"></i></div>
                            </th>
                            <td v-for="value in values" style="text-align: center;">
                                <star-rating :percentage="value.mean" v-show="value.mean"></star-rating>
                                <div style="margin-top: 2.5em;">
                                    <a class="btn btn-success btn-block text-center" v-bind:href="value.review" style="padding: 10px 5px;">Voir la revue</a>
                                </div>
                                <div style="margin-top: 1em;">
                                    <a class="btn btn-info btn-block text-center" href="#" style="padding: 10px 5px;">Visiter le site</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Notre avis</th>
                            <td v-for="value in values">
                                {{ value.opinionText }}
                            </td>
                        </tr>
                        <tr>
                            <th>Les notes en détail</th>
                            <td v-for="value in values">
                                <div v-for="data in value.evalData">
                                    <div>
                                        <star-rating :percentage="data.note" v-show="data.note"></star-rating>
                                    </div>
                                    <div style="text-align:center">
                                        <div>{{ data.label}}</div>
                                        <div>{{ data.description}}</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-users fa-2x" aria-hidden="true"></i> Nombre de clients</th>
                            <td v-for="value in values">
                                {{ value.customerCount }}
                            </td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-gift fa-2x" aria-hidden="true"></i> Offre de bienvenue</th>
                            <td v-for="value in values">
                                {{ value.welcomeOffer }}
                            </td>
                        </tr>
                        <tr>
                            <th>Conditions d'accès</th>
                            <td v-for="value in values">
                                {{ value.minimumWadge }}
                            </td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-credit-card fa-2x" aria-hidden="true"></i> Carte de cr&eacute;dit</th>
                            <td v-for="value in values">
                                {{ value.creditCard }}
                            </td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-mobile fa-2x" aria-hidden="true"></i> Application mobile</th>
                            <td v-for="value in values">
                                <ul class="fa-ul">
                                    <li v-for="(key, value) in value.mobileApps" v-bind:class="[ key == '1' ? 'text-success' : 'text-danger']"><i v-bind:class="[ key == '1' ? 'fa-li fa fa-check' : 'fa-li fa fa-times']"></i>{{ value }}</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-plus-circle fa-2x text-success" aria-hidden="true"></i> Points positifs</th>
                            <td v-for="value in values">
                                <ul class="fa-ul">
                                    <li v-for="pro in value.pros"><i class="fa-li fa fa-plus-circle"></i>{{ pro }}</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-minus-circle fa-2x text-danger" aria-hidden="true"></i> Points négatifs</th>
                            <td v-for="value in values">
                                <ul class="fa-ul">
                                    <li v-for="con in value.cons"><i class="fa-li fa fa-minus-circle"></i>{{ con }}</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-cubes fa-2x" aria-hidden="true"></i> Les services et produits proposés</th>
                            <td v-for="value in values">
                                <ul class="fa-ul">
                                    <li v-for="(key, value) in value.offer" v-bind:class="[ key == '1' ? 'text-success' : 'text-danger']"><i v-bind:class="[ key == '1' ? 'fa-li fa fa-check' : 'fa-li fa fa-times']"></i>{{ value }}</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-cubes fa-2x" aria-hidden="true"></i> Appartient groupe</th>
                            <td v-for="value in values">
                                <div v-html="value.holdingName" style="font-weight:bold; font-size:1.1em;"></div>
                                <div style="width:100px;margin-left: auto;margin-right: auto;"> <img v-bind:src="value.holdingImage" /></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<div id="app-compare">
    <banks-grid :banks="ranking.banks" :offer="ranking.offer">
    </banks-grid>
</div>
