<script type="text/x-template" id="ranking-template">
    <div>
        <div class="row">
            <div class="col-md-12 col-s-12">
                <div class=" panel panel-tb">
                    <div class="panel-heading" style="font-size: 16px; line-height: 1em;"><i class="fa fa-diamond" aria-hidden="true"></i> Pourquoi voulez-vous changer de banque ?</div>
                    <div class="panel-body" style="font-size:1em;">
                        <div class="row">
                            <div class="col-md-6">
                                <label><input type="checkbox" value=""> </input>Obtenir une carte bancaire gratuite</label>
                                <label><input type="checkbox" value=""> </input>Profiter de frais bancaires réduits</label>
                                <label><input type="checkbox" value=""> </input>Trouver un crédit au meilleur prix</label>
                            </div>
                            <div class="col-md-6">
                                <label><input type="checkbox" value=""> </input>Gérer vos finances de manière autonome</label>
                                <label><input type="checkbox" value=""> </input>Envoyer ou recevoir de l’argent à l’étranger</label>
                                <label><input type="checkbox" value=""> </input>Ouvrir un compte bancaire secondaire</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-s-12">
                <div class=" panel panel-tb">
                    <div class="panel-heading" style="font-size: 16px; line-height: 1em;"><i class="fa fa-university" aria-hidden="true"></i> Quelles banques souhaitez-vous comparer ?</div>
                    <div class="panel-body" style="font-size:1em;">
                        <div class="row">
                            <div class="col-md-4" v-for="bank in banks">
                                <label class="checkbox-inline"><input type="checkbox" v-bind:value="bank.name" v-model="checkedNames"> </input>{{ bank.name }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-s-12">
                <div class=" panel panel-tb">
                    <div class="panel-heading" style="font-size: 16px; line-height: 1em;"><i class="fa fa-mobile" aria-hidden="true"></i> Applications mobiles</div>
                    <div class="panel-body" style="font-size:1em;">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <label class="checkbox"><input type="checkbox" value="android" ><i class="fa fa-android fa-2x" aria-hidden="true"></i></label>
                            </div>
                            <div class="col-md-4 text-center">
                                <label class="checkbox"><input type="checkbox" value="apple" ><i class="fa fa-apple fa-2x" aria-hidden="true"></i></label>
                            </div>
                            <div class="col-md-4 text-center">
                                <label class="checkbox"><input type="checkbox" value="windows" ><i class="fa fa-windows fa-2x" aria-hidden="true"></i></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-s-12">
                <div class=" panel panel-tb">
                    <div class="panel-heading" style="font-size: 16px; line-height: 1em;"><i class="fa fa-list-ul" aria-hidden="true"></i> Sélectionnez les produits et services qui vous intéressent</div>
                    <div class="panel-body" style="font-size:1em;">
                        <div class="row">
                            <div class="col-md-4" v-for="o in offer">
                                <label class="checkbox-inline"><input type="checkbox" v-bind:value="o" >{{ o }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="table-responsive" id="table-ranking">
            <table class="table table-bordered table-condensed table-hover" style="text-align: center;">
                <thead>
                  <tr>
                    <th style="text-align:center;"></th>
                    <th style="text-align:center;">
                        <div class="hidden-xs hidden-sm">Note générale</div>
                        <div><i class="fa fa-trophy fa-3x" style="color:gold" aria-hidden="true"></i></div>
                    </th>
                    <th style="text-align:center;"></th>
                    <th>Notre avis</th>
                    <th>Service Client</th>
                    <th>Application</th>
                    <th>Carte de crédit</th>
                    <th><i class="fa fa-user-plus fa-2x" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Nombre de clients</span></th>
                    <th><i class="fa fa-gift fa-2x" aria-hidden="true"></i> <span class="hidden-xs hidden-sm">Offre de bienvenue</span></th>
                    <th><i class="fa fa-key fa-2x" aria-hidden="true"></i> <span class="hidden-xs hidden-sm">Conditions d'accès</span></th>
                    <th><i class="fa fa-credit-card fa-2x" aria-hidden="true"></i><span class="hidden-xs hidden-sm"> Carte de cr&eacute;dit</span></th>
                    <th><i class="fa fa-mobile fa-2x" aria-hidden="true"></i> <span class="hidden-xs hidden-sm">Application mobile</span></th>
                    <th><i class="fa fa-plus-circle fa-2x text-success" aria-hidden="true"></i> <span class="hidden-xs hidden-sm">Points positifs</span></th>
                    <th><i class="fa fa-minus-circle fa-2x text-danger" aria-hidden="true"></i> <span class="hidden-xs hidden-sm">Points négatifs</span></th>
                    <th><i class="fa fa-cubes fa-2x" aria-hidden="true"></i> <span class="hidden-xs hidden-sm">Les services et produits proposés</span></th>
                    <th><i class="fa fa-cubes fa-2x" aria-hidden="true"></i><span class="hidden-xs hidden-sm"> Filliale du groupe</span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="value in values" style="text-align: center;">
                    <th  style="vertical-align: top;text-align:center;margin-bottom:1em;">
                        <div style="max-width:100px;margin-left: auto;margin-right: auto;"><img v-bind:src="value.image" /></div>
                        <div v-html="value.name"></div>
                    </th>
                    <td>
                      <div class="hidden-xs hidden-sm"><star-rating :percentage="value.mean" v-show="value.mean"></star-rating></div>
                      <div class="visible-xs-block visible-sm-block" v-html="getNote(value.mean)"></div>
                    </td>
                    <td>
                        {{ value.opinionText }}
                    </td>
                    <td v-for="eval in value.evalData" >
                      <div>
                          <div class="hidden-xs hidden-sm">
                              <star-rating :percentage="eval.note" v-show="eval.note"></star-rating>
                          </div>
                          <div class="visible-xs-block visible-sm-block" v-html="getNote(eval.note)">
                          </div>
                          <div style="padding-top: 25px;">
                              {{ eval.description }}
                          </div>
                      </div>
                    </td>
                    <td>
                        {{ value.customerCount }}
                    </td>
                    <td>
                    	{{ value.welcomeOffer }}
                    </td>
                    <td>
                    	{{ value.minimumWadge }}
                    </td>
                    <td>
                    	{{ value.creditCard }}
                    </td>
                    <td>
                      <ul class="fa-ul">
                          <li v-for="pro in value.pros"><i class="fa-li fa fa-plus-circle"></i>{{ pro }}</li>
                      </ul>
                      <ul class="fa-ul">
                          <li v-for="con in value.cons"><i class="fa-li fa fa-minus-circle"></i>{{ con }}</li>
                      </ul>
                    </td>
                    <td>
                        <ul class="fa-ul">
                            <li v-for="(key, value) in value.offer" v-bind:class="[ key == '1' ? 'text-success' : 'text-danger']"><i v-bind:class="[ key == '1' ? 'fa-li fa fa-check' : 'fa-li fa fa-times']"></i>{{ value }}</li>
                        </ul>
                    </td>
                    <td>
                      <span v-for="(value, key) in value.mobileApps">
                        <i v-if="value" v-bind:class="getMobileIcon(key)"></i>
                        <span class="fa-stack fa-lg" v-else>
                          <i  v-bind:class="getMobileIcon(key, true)"></i>
                          <i  class="fa fa-ban fa-stack-2x text-danger"></i>
                        </span>
                      </span>
                    </td>
                    <td>
                        <div v-html="value.holdingName" style="font-weight:bold; font-size:1.1em;"></div>
                        <div style="width:100px;margin-left: auto;margin-right: auto;"> <img v-bind:src="value.holdingImage" /></div>
                    </td>
                </tr>
                </tbody>
              </table>
            <div class="table-responsive" id="table-ranking">
                <table class="table table-bordered table-condensed table-hover" style="text-align: center;">
                    <thead>
                        <tr>
                            <th v-for="header in headers" style="vertical-align: top;text-align:center;margin-bottom:1em;">
                                <div v-html="header.name"></div>
                                <div style="max-width:100px;margin-left: auto;margin-right: auto;"><img v-bind:src="header.image" /></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th style="text-align:center;">
                                <div class="hidden-xs hidden-sm">Note générale</div>
                                <div><i class="fa fa-trophy fa-3x" style="color:gold" aria-hidden="true"></i></div>
                            </th>
                            <td v-for="value in values" style="text-align: center;">
                                <div class="hidden-xs hidden-sm"><star-rating :percentage="value.mean" v-show="value.mean"></star-rating></div>
                                <div class="visible-xs-block visible-sm-block" v-html="getNote(value.mean)"></div>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align:center;">
                            </th>
                            <td v-for="value in values" style="text-align: center;">
                                <div>
                                  <a class="btn btn-success btn-block text-center" v-bind:href="value.review" style="padding: 10px 5px;">Voir la revue</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align:center;">

                            </th>
                            <td v-for="value in values" style="text-align: center;">
                                <div>
                                    <a class="btn btn-info btn-block text-center" v-bind:href="value.affiliate" target="_blank"  rel="nofollow" style="padding: 10px 5px;">Visiter le site</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Notre avis</th>
                            <td v-for="value in values">
                                {{ value.opinionText }}
                            </td>
                        </tr>
                        <tr v-for="(values, key) in evaluations">
                            <th> {{ key }}</th>
                            <td  v-for="data in values">
                                <div>
                                    <div class="hidden-xs hidden-sm">
                                        <star-rating :percentage="data.note" v-show="data.note"></star-rating>
                                    </div>
                                    <div class="visible-xs-block visible-sm-block" v-html="getNote(data.note)">
                                    </div>
                                    <div style="padding-top: 25px;">
                                        {{ data.description }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-user-plus fa-2x" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Nombre de clients</span></th>
                            <td v-for="value in values">
                                {{ value.customerCount }}
                            </td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-gift fa-2x" aria-hidden="true"></i> <span class="hidden-xs hidden-sm">Offre de bienvenue</span></th>
                            <td v-for="value in values">
                                {{ value.welcomeOffer }}
                            </td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-key fa-2x" aria-hidden="true"></i> <span class="hidden-xs hidden-sm">Conditions d'accès</span></th>
                            <td v-for="value in values">
                                {{ value.minimumWadge }}
                            </td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-credit-card fa-2x" aria-hidden="true"></i><span class="hidden-xs hidden-sm"> Carte de cr&eacute;dit</span></th>
                            <td v-for="value in values">
                                {{ value.creditCard }}
                            </td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-mobile fa-2x" aria-hidden="true"></i> <span class="hidden-xs hidden-sm">Application mobile</span></th>
                            <td v-for="value in values">
                                <ul class="fa-ul">
                                    <li v-for="(key, value) in value.mobileApps" v-bind:class="[ key == '1' ? 'text-success' : 'text-danger']"><i v-bind:class="[ key == '1' ? 'fa-li fa fa-check' : 'fa-li fa fa-times']"></i>{{ value }}</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-plus-circle fa-2x text-success" aria-hidden="true"></i> <span class="hidden-xs hidden-sm">Points positifs</span></th>
                            <td v-for="value in values">
                                <ul class="fa-ul">
                                    <li v-for="pro in value.pros"><i class="fa-li fa fa-plus-circle"></i>{{ pro }}</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-minus-circle fa-2x text-danger" aria-hidden="true"></i> <span class="hidden-xs hidden-sm">Points négatifs</span></th>
                            <td v-for="value in values">
                                <ul class="fa-ul">
                                    <li v-for="con in value.cons"><i class="fa-li fa fa-minus-circle"></i>{{ con }}</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-cubes fa-2x" aria-hidden="true"></i> <span class="hidden-xs hidden-sm">Les services et produits proposés</span></th>
                            <td v-for="value in values">
                                <ul class="fa-ul">
                                    <li v-for="(key, value) in value.offer" v-bind:class="[ key == '1' ? 'text-success' : 'text-danger']"><i v-bind:class="[ key == '1' ? 'fa-li fa fa-check' : 'fa-li fa fa-times']"></i>{{ value }}</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-cubes fa-2x" aria-hidden="true"></i><span class="hidden-xs hidden-sm"> Filliale du groupe</span></th>
                            <td v-for="value in values">
                                <div v-html="value.holdingName" style="font-weight:bold; font-size:1.1em;"></div>
                                <div style="width:100px;margin-left: auto;margin-right: auto;"> <img v-bind:src="value.holdingImage" /></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>
