<script type="text/x-template" id="ranking-template">
    <div>
        <div class="row">
            <div class="col-md-8 col-sm-9 col-xs-8">
                <div class=" panel panel-tb">
                    <div class="panel-heading" style="font-size: 16px; line-height: 1em;"><i class="fa fa-university" aria-hidden="true"></i> <span class="hidden-xs hidden-sm"> Quelles banques souhaitez-vous comparer ? </span></div>
                    <div class="panel-body" style="font-size:1em;">
                        <div class="row">
                            <div class="col-md-4" v-for="bank in banks">
                                <label class="checkbox-inline"><input type="checkbox" v-bind:value="bank.name" v-model="checkedNames"  v-bind:disabled="checkedNames.length >= numberOfBanks && checkedNames.indexOf(bank.name) === -1" > </input>{{ bank.name }}</label>
                            </div>
                            <div class="col-md-12 text-center text-danger" v-show="numberOfBanks < banks.length">
                              Vous ne pouvez comparer que {{ numberOfBanks }} banques simultan&eacute;ment.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-3 col-xs-4">
                <div class=" panel panel-tb">
                    <div class="panel-heading" style="font-size: 16px; line-height: 1em;"><i class="fa fa-mobile" aria-hidden="true"></i> <span class="hidden-xs hidden-sm">Applications mobiles</span></div>
                    <div class="panel-body" style="font-size:1em;">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <label class="checkbox" style="margin-top: 5px;"><input type="checkbox" value="Android" v-model="mobileApps"><i v-bind:class="getMobileIcon('Android')" aria-hidden="true"></i></label>
                            </div>
                            <div class="col-md-4 text-center">
                                <label class="checkbox" style="margin-top: 5px;"><input type="checkbox" value="iOS" v-model="mobileApps"><i v-bind:class="getMobileIcon('iOS')" aria-hidden="true"></i></label>
                            </div>
                            <div class="col-md-4 text-center">
                                <label class="checkbox" style="margin-top: 5px;"><input type="checkbox" value="Windows" v-model="mobileApps"><i v-bind:class="getMobileIcon('Windows')" aria-hidden="true"></i></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class=" panel panel-tb">
                    <div class="panel-heading" style="font-size: 16px; line-height: 1em;"><i class="fa fa-list-ul" aria-hidden="true"></i> Sélectionnez les produits et services qui vous intéressent</div>
                    <div class="panel-body" style="font-size:1em;">
                        <div class="row">
                            <div class="col-md-3" v-for="o in offer">
                                <label class="checkbox-inline"><input type="checkbox" v-model="selectedServices" v-bind:value="o" >{{ o }}</label>
                            </div>
                            <div class="col-md-3" style="text-align:center">
                              <button type="button" class="btn btn-success btn-xs" v-on:click="resetFilters">
                                <i class="fa fa-search"></i>
                                  Commencer une nouvelle recherche
                               </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="table-ranking">
            <table class="table table-responsive table-bordered table-condensed table-hover" style="text-align: center;">
                <thead>
                    <tr>
                        <th class="hidden-xs hidden-sm"><img src="https://www.topbanque.net/wp-content/uploads/2016/10/cropped-favicon-2.png" style="width:32px;"></i></th>
                        <th v-for="topBank in topBanks" style="vertical-align: top;text-align:center;margin-bottom:1em;">
                          <div style="margin-left: auto;margin-right: auto;">
                            <div style="height:32px;">
                              <span v-show="topBank.reward && searchStarted">
                                <span class="tb-rank" v-bind:class="topBank.reward" v-html="topBank.rank"></span>
                                <span><button class="btn btn-info btn-link" role="button" data-toggle="popover" v-bind:id="topBank.name" data-trigger="focus" data-placement="top" data-type="result" title="Votre recherche" >D&eacute;tails <i class="fa fa-info-circle" aria-hidden="true"></i></button></span>
                              </span>
                            </div>
                          </div>
                        </th>
                    </tr>
                    <tr>
                      <th class="hidden-xs hidden-sm"><i class="fa fa-university fa-2x" aria-hidden="true"></i></th>
                        <th v-for="header in headers" style="vertical-align: top;text-align:center;margin-bottom:1em;">
                          <div style="max-width:100px;margin-left: auto;margin-right: auto;">
                            <div style="height:32px;">
                              <span style="vertical-align:middle;line-height:32px">{{ header.name }}</span>
                            </div>
                             <img v-bind:src="header.image" />
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <th class="hidden-xs hidden-sm"></th>
                      <th v-bind:colspan="colspan">Note générale</th>
                    </tr>
                    <tr>
                        <th class="hidden-xs hidden-sm">
                            <div><i class="fa fa-trophy fa-3x" style="color:gold" aria-hidden="true"></i></div>
                        </th>
                        <td v-for="value in values" style="text-align: center;">
                            <div class="hidden-xs hidden-sm"><star-rating :percentage="value.mean" v-show="value.mean"></star-rating></div>
                            <div class="visible-xs-block visible-sm-block small-note" v-html="getNote(value.mean)"></div>
                        </td>
                    </tr>
                    <tr>
                        <th class="hidden-xs hidden-sm"></th>
                        <td v-for="value in values" style="text-align: center;">
                            <div class="exit-button">
                              <a class="btn btn-success btn-block text-center btn-xs" v-bind:href="value.review">Voir la revue</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                      <th class="hidden-xs hidden-sm"></th>
                      <td v-for="value in values" style="text-align: center;">
                        <div class="exit-button">
                          <a class="btn btn-info btn-block text-center btn-xs" v-bind:href="value.affiliate" target="_blank"  rel="nofollow">Visiter le site</a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th class="hidden-xs hidden-sm"></th>
                      <th v-bind:colspan="colspan">Notre avis</th>
                    </tr>
                    <tr>
                        <th class="hidden-xs hidden-sm"><i class="fa fa-check-square fa-2x gold" aria-hidden="true"></i></th>
                      </th>
                        <td v-for="value in values">
                          <div class="opinion">{{ value.opinionText }}</div>
                          <button type="button" class="btn btn-lg btn-success btn-xs" data-toggle="popover" data-type="opinion" data-placement="top" data-trigger="focus"  title="Notre avis" ><i class="fa fa-search-plus fa-2c" aria-hidden="true"></i><span class="hidden-xs hidden-sm">En savoir plus</span></button>
                        </td>
                    </tr>
                    <tr>
                      <th class="hidden-xs hidden-sm"></th>
                      <th v-bind:colspan="colspan">Offre de bienvenue</th>
                    </tr>
                    <tr>
                        <th class="hidden-xs hidden-sm"><i class="fa fa-gift fa-2x" aria-hidden="true"></i></th>
                        <td v-for="value in values">
                            <div class="small-pros">{{ value.welcomeOffer }}</div>
                        </td>
                    </tr>
                    <tr>
                      <th class="hidden-xs hidden-sm"></th>
                      <th v-bind:colspan="colspan">Conditions d'acc&egrave;s</th>
                    </tr>
                    <tr>
                        <th  class="hidden-xs hidden-sm"><i class="fa fa-key fa-2x" aria-hidden="true"></i></th>
                        <td v-for="value in values">
                            <div class="small-pros">{{ value.minimumWadge }}</div>
                        </td>
                    </tr>
                    <tr>
                      <th class="hidden-xs hidden-sm"></th>
                      <th v-bind:colspan="colspan">Carte de cr&eacute;dit</th>
                    </tr>
                    <tr>
                        <th class="hidden-xs hidden-sm"><i class="fa fa-credit-card fa-2x" aria-hidden="true"></i></th>
                        <td v-for="value in values">
                            <div class="small-pros">{{ value.creditCard }}</div>
                        </td>
                    </tr>
                    <tr>
                      <th class="hidden-xs hidden-sm"></th>
                       <th v-bind:colspan="colspan">Application mobile</th>
                     </tr>
                    <tr>
                        <th class="hidden-xs hidden-sm"><i class="fa fa-mobile fa-2x" aria-hidden="true"></i></th>
                        <td v-for="value in values">
                          <span v-for="(value, key) in value.mobileApps">
                            <template v-if="value">
                            <span class="fa-stack fa-lg">
                              <i v-bind:class="getMobileIcon(key)"></i>
                            </span>
                          </template>
                          <template v-else>
                            <span class="fa-stack fa-lg" >
                              <i v-bind:class="getMobileIcon(key, true)"></i>
                              <i class="fa fa-ban fa-stack-2x text-danger"></i>
                            </span>
                          </template>
                          </span>
                        </td>
                    </tr>
                    <template v-for="(values, key) in evaluations">
                        <tr>
                          <th class="hidden-xs hidden-sm"></th>
                          <th v-bind:colspan="colspan">{{ key }}</th>
                        </tr>
                        <tr>
                          <th class="hidden-xs hidden-sm">
                            <i class="fa fa-trophy fa-2x hidden-xs hidden-sm" aria-hidden="true"></i>
                          </th>
                          <td  v-for="data in values">
                              <div>
                                  <div class="hidden-xs hidden-sm">
                                      <star-rating :percentage="data.note" v-show="data.note"></star-rating>
                                  </div>
                                  <div class="visible-xs-block visible-sm-block small-note" v-html="getNote(data.note)">
                                  </div>
                                  <div style="padding-top: 25px;">
                                      <div class="small-pros">{{ data.description }}</div>
                                  </div>
                              </div>
                          </td>
                        </tr>
                    </template>
                    <tr>
                      <th class="hidden-xs hidden-sm"></th>
                      <th v-bind:colspan="colspan">Nombre de clients</th>
                    </tr>
                    <tr>
                        <th class="hidden-xs hidden-sm"><i class="fa fa-user-plus fa-2x" aria-hidden="true"></i></th>
                        <td v-for="value in values">
                          <div class="small-pros">{{ value.customerCount }}</div>
                        </td>
                    </tr>

                    <tr>
                      <th class="hidden-xs hidden-sm"></th>
                      <th v-bind:colspan="colspan">Les services et produits proposés</th>
                    </tr>
                    <tr>
                        <th class="hidden-xs hidden-sm"><i class="fa fa-list fa-2x" aria-hidden="true"></i></th>
                        <td v-for="value in values">
                            <ul class="fa-ul">
                                <li v-for="(key, value) in value.offer" v-bind:class="[ key == '1' ? 'text-success' : 'text-danger']"><i v-bind:class="[ key == '1' ? 'fa-li fa fa-check' : 'fa-li fa fa-times']"></i>{{ value }}</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                      <th class="hidden-xs hidden-sm"></th>
                      <th v-bind:colspan="colspan">Filliale du groupe</th>
                    </tr>
                    <tr>
                        <th class="hidden-xs hidden-sm"><i class="fa fa-university fa-2x" aria-hidden="true"></i></th>
                        <td v-for="value in values">
                            <div class="holding-name" v-html="value.holdingName" style="font-weight:bold; font-size:1.1em;"></div>
                            <div class="holding-image"> <img v-bind:src="value.holdingImage" /></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</script>
