<script type="text/x-template" id="bank-ranking-widget-template">
  <aside>
    <div class="card card-ranking">
      <div class="card-block">
          <h4 class="card-title widget-title">{{ bank.widget_title }}</h4>
          <div class="d-flex flex-column">
            <div class="text-center top-ranking-stars">
              <div class="text-center">
                <star-rating :percentage="bank.mean" v-show="bank.mean"></star-rating>
              </div>
            </div>
            <div class="text-center" style="padding: 0 10px;">
              <img :src="bank.image" style="max-height:80px;margin-bottom:10px;" />
            </div>
          </div>

          <div>
            <div class="d-flex flex-column" v-for="eval in bank.eval_data">
              <div class="text-center">
                <dl class="row">
                  <dt class="col-sm-6 text-center">
                    <strong class="h5">{{ eval.label }}</strong><br />
                    <small>{{ eval.description }}</small>
                  </dt>
                  <dd class="col-sm-6 text-center">
                      <star-rating :percentage="eval.note" v-show="eval.note"></star-rating>
                  </dd>
                </dl>
              </div>
            </div>
            <div class="d-flex flex-column">
              <div class="justify-content-center text-center">
                  <dl>
                      <dt class=" h5">Offre de bienvenue</dt>
                      <div class="d-flex justify-content-center"> </div>
                      <dd><span>{{ bank.welcome_offer }}</span></dd>
                  </dl>
                </div>
               <div class="justify-content-center text-center">
                 <dl>
                   <dt class="h5">Revenu minimum</dt>
                   <div class="d-flex justify-content-center">  </div>
                   <dd><span>{{ bank.minimum_wadge }}</span></dd>
                 </dl>
               </div>
               <div class="justify-content-center text-center">
                 <dl>
                   <dt class=" h5">Carte de crédit</dt>
                   <dd ><span>{{ bank.credit_card }}</span></dd>
                 </dl>
               </div>
               <div class="d-flex flex-column">
                 <div class="text-justify" style="padding: 0 5px 20px 5px;">
                   {{ bank.opinion_text }}
                 </div>
               </div>
                 <div class="card-block ">
                   <h4 class="card-title text-center text-uppercase">Services disponibles</h4>
                   <div v-bind:class="getBg(value)" v-for="(value, key) in bank.offer">
                       <div class="h6" style="padding-left:10px;" v-html="getText(key, value)"></div>
                   </div>
                   <div class="justify-content-center" style="padding : 5px 10px">
                     <a v-bind:href="bank.review_link" class="btn btn-success btn-block text-center">Revue détaillée</a>
                   </div>
                   <div class="justify-content-center" style="padding-bottom:15px;">
                      <h4 class="card-title text-center text-uppercase" style="margin-top:15px;">{{ bank.holding_label }} {{ bank.holding_name }}</h4>
                     <div class="text-center"><img :src="bank.holding_image" style="width:150px;" /> </div>
                   </div>
                 </div>
               </div>
             </div>
      </div>
    </div>
  </aside>
</script>
